<form class="login-form post-box signup-box">
  <div>
    <label class="post-header" for="email-login">email:</label>
    <input type="text" id="email-login" />
  </div>
  <div>
    <label class="post-header" for="password-login">password:</label>
    <input type="password" id="password-login" />
  </div>
  <div>
    <button type="submit">login</button>
  </div>
  <nav>
        <a href="/signup">Signup Instead</a>
      </nav>
</form>



<script src="/javascript/login.js"></script>